.hero-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height:100vh;
    z-index:-1;
    
    
}

.hero-content{
    position: relative;
   
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--secondary);
    text-align: center;
    // transform: translate(-50%,-50%);
    z-index:1;
    min-height:100vh;
    box-sizing: border-box;
    height:120%;    
    padding:80px 40px;


    h1{
        font-family: 'Playfair Display', serif;
        font-size: 3.5rem;
        margin-bottom: 10px;
        left:0%;
        color:white;   
        font-weight:bolder;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
    }

    p{
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        margin-bottom: 23px;
        color:white;     
        font-weight: bold;
    }

}

    // .hero-container::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    //     z-index: 10; 
    // }

.hero-image {
//   background-image: url(".../images/Hero-image1.jpg");
background: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1));
  background-size:cover;
  background-position: center;
  object-position: center;
  width: 100%;

  position: absolute;
  object-fit: cover;
  height: 80%;
  top:50px;
  right:0;
  left:0;
  z-index: -1;
//   -webkit-filter: blur(2px); //change the value according to what suits the best
//   -moz-filter: blur(3px); //change the value according to what suits the best
//   -o-filter: blur(3px); //change the value according to what suits the best
//   -ms-filter: blur(3px); //change the value according to what suits the best
  filter: blur(3px); 
  
}

// .hero-search-bar{
//     display: flex;
    
//     align-items: center;
//     justify-content: center;
//     max-width: 500px;
//     margin: 2rem auto 0;
//     padding:20px;
//     background: rgba(0, 0, 0, 0.3);
//     color: #fff; /* Text color */
//     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
//     background-color: rgba(246, 242, 236, 0.8); /* Adjust opacity for transparency */
//     border-radius: 5px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// .hero-search-bar input {
    
//     flex: 1;
//     padding: 12px;
//     border: none;
//     border-radius: 5px 0 0 5px;
//     font-family: 'Raleway', sans-serif;
//     background-color: transparent; /* Make input background transparent */
//   }

.hero-button{
    background-color: #D93A15; /* Vintage Chic Accent Color */
  color: #F6F2EC;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 12px 24px;
  cursor: pointer;
  font-family: 'Shadows Into Light', cursive;
}  
.cta-button{
    background-color: #D93A15; /* Vintage Chic Accent Color */
    color: #F6F2EC;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 14px 28px;
    font-size: 1.2rem;
    cursor: pointer;

    font-family: 'Shadows Into Light', cursive;
}


@media only screen and (max-width:768px){
    .hero-content{
      
        h1{
            font-size: 2.5rem;
            // letter-spacing: 1.px;

        }

        p{
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 1.5px;
        }

       
    }

    .hero-search-bar{
         flex-direction: column;
         align-items:stretch;
         max-width:300px;
         margin:20px auto;
         padding:16px;   
    }

    .hero-search-bar input{
        border-radius: 5px;
        margin-bottom: 12px;
    }

    .hero-button {
        border-radius: 5px;
        padding: 10px 20px;
        width: 100%;
      }
      
      .cta-button {
        font-size: 1rem;
        padding: 12px 24px;
        margin-top: 10px;
      }
}