.about-us{
    display:grid;
    // align-items: center;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding:40px 30px;
    margin:0 auto;
    max-width: 1200px;
    background-color: var(--secondary);

    .about-us-left{
        // width:50%;

        .about-us-title{
            font-family: "Playfair Display",serif;
            font-weight: bold;
            font-size:2.5rem;
            color: #3B4236;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
            // text-align: center;
        }

        .about-us-info{
            font-family: "Lora",serif;
            font-size:16px;
            // line-height:1.2;
            text-align: justify;
        }
    }

    .about-us-right{
        display: flex;
        align-items: flex-end;
        

        img{
            object-fit: cover;
            display: flex;
            width:100%;
            align-self:flex-start;
            border-radius: 10px 10px 10px 10px;
            // margin-top: auto;
            margin-bottom: 0;
            height:80%;
        }
    }

    
}

@media only screen and (max-width:768px){
    .about-us{
        display: flex;
        flex-direction: column;
        // padding: 20px 0;

        .about-us-title{
            text-align: center;
        }

        .about-us-right{
            display: none;
            order:-1;
        }
    }
}